@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.App {
  text-align: center;
}

body {
  font-family: "굴림";
  font-size: 9pt;
}

td {
  font-family: "굴림";
  font-size: 9pt;
}

A:active {
  color: #31659c;
  font-size: 9pt;
  text-decoration: none;
}

A:link {
  color: #0000de;
  font-size: 9pt;
  text-decoration: none;
}

A:visited {
  color: #31659c;
  font-size: 9pt;
  text-decoration: none;
}

A:hover {
  color: #840084;
  cursor: hand;
  font-size: 9pt;
  text-decoration: none;
}

.green_title {
  font-family: "굴림";
  color: 43720E;
  font-size: 11pt;
}

.violet_title {
  font-family: "굴림";
  color: 7348C3;
  font-size: 11pt;
}

.blue_title {
  font-family: "굴림";
  color: 4C8DCA;
  font-size: 11pt;
}

.green1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 285012;
  text-decoration: none;
  text-align: center;
  background-color: E8F2DD;
}

.violet1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 5A399C;
  text-decoration: none;
  text-align: center;
  background-color: DDE3F2;
}

.blue1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 366C9A;
  text-decoration: none;
  text-align: center;
  background-color: DDF0F2;
}

.gray1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: EFEFEF;
}

.gray2 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: EFEFEF;
}

.gray3 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: EFEFEF;
}

.white1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: ffffff;
}

ul#information {
  list-style-type: "※ ";
  font-family: "굴림";
  text-align: left;
  padding-left: 35px;
}
ul#information li {
  margin-top: 5px;
  margin-bottom: 5px;
}
ul#information li.red {
  color: red;
}

ul#warning {
  list-style-type: "▣ ";
  font-family: "굴림";
  text-align: left;
  padding-left: 35px;
}
ul#warning li {
  color: red;
  margin-top: 10px;
}

ul#ads {
  list-style-type: "※ ";
  font-family: "굴림";
  text-align: left;
  padding-left: 35px;
  font-size: 20px;
}

.stopwatch {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}

.numbers {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.timer_btn {
  width: 3rem;
  height: 1.5rem;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.course_generator {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.course_generator_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5rem;
}

.course_generator_container > h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.course_generator_container > label {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.course_generator_container > label > select {
  width: 10rem;
  height: 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 0.3rem;
  padding: 0 0.5rem;
}

.course_generator_container > button {
  width: 10rem;
  height: 2rem;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
