@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.App {
  text-align: center;
}

body {
  font-family: "굴림";
  font-size: 9pt;
}

td {
  font-family: "굴림";
  font-size: 9pt;
}

A:active {
  color: #31659c;
  font-size: 9pt;
  text-decoration: none;
}

A:link {
  color: #0000de;
  font-size: 9pt;
  text-decoration: none;
}

A:visited {
  color: #31659c;
  font-size: 9pt;
  text-decoration: none;
}

A:hover {
  color: #840084;
  cursor: hand;
  font-size: 9pt;
  text-decoration: none;
}

.green_title {
  font-family: "굴림";
  color: 43720E;
  font-size: 11pt;
}

.violet_title {
  font-family: "굴림";
  color: 7348C3;
  font-size: 11pt;
}

.blue_title {
  font-family: "굴림";
  color: 4C8DCA;
  font-size: 11pt;
}

.green1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 285012;
  text-decoration: none;
  text-align: center;
  background-color: E8F2DD;
}

.violet1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 5A399C;
  text-decoration: none;
  text-align: center;
  background-color: DDE3F2;
}

.blue1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 366C9A;
  text-decoration: none;
  text-align: center;
  background-color: DDF0F2;
}

.gray1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: EFEFEF;
}

.gray2 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: EFEFEF;
}

.gray3 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: EFEFEF;
}

.white1 {
  font-family: "굴림";
  font-size: 9pt;
  color: 4C4C4C;
  text-decoration: none;
  text-align: center;
  background-color: ffffff;
}

ul#information {
  list-style-type: "※ ";
  font-family: "굴림";
  text-align: left;
  padding-left: 35px;
}
ul#information li {
  margin-top: 5px;
  margin-bottom: 5px;
}
ul#information li.red {
  color: red;
}

ul#warning {
  list-style-type: "▣ ";
  font-family: "굴림";
  text-align: left;
  padding-left: 35px;
}
ul#warning li {
  color: red;
  margin-top: 10px;
}

ul#ads {
  list-style-type: "※ ";
  font-family: "굴림";
  text-align: left;
  padding-left: 35px;
  font-size: 15px;
}
